* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-item-list {
  margin-top: 50px;
}

.post-item {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #a9a9a9;
}

.post-image {
  margin: 10px;
}

.post-title {
  font-size: 25px;
}