<div class="container mt-5">
  <div class="row justify-content-center">
    <% if @posts.present? %>
    <div class="col-7">
      <%= render 'layouts/flash_message' %>
      <%= render 'ichiran', obj: @posts %>
    </div>
    <% else %>
    <div class="col-7 mt-5">
      <h2 class="text-center">まだ投稿がありません</h2>
    </div>
    <% end %>
    <div class="col-2 offset-1">
      <%= render "layouts/sideber" %>
    </div>
  </div>
</div>