<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-3 offset-1">
      <%= render "layouts/sideber" %>
    </div>
  <% if @posts.present? %>
    <div class="col-lg-7 offset-1">
      <h2 class="text-center">投稿一覧</h2>
      <%= render 'layouts/flash_message' %>
      <%= render 'ichiran', obj: @posts %>
      <div class="paginate text-center">
          <%= paginate @posts %>
        </div>
    </div>
    <% else %>
    <div class="col-lg-7 offset-1 mt-5">
      <h2 class="text-center">まだ投稿がありません</h2>
    </div>
    <% end %>
  </div>
</div>