<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-3">
      <%= render "layouts/sideber", tag_lists: @tag_lists, posts: @posts %>
    </div>
    <div class="col-lg-8 mt-5 offset-lg-1">
      <%= render 'layouts/flash_message' %>
      <%= render 'a_post', post: @post, tags: @tags, post_comment: @post_comment, post_tags: @post_tags %>
    </div>
  </div>
</div>