<div class="container mt-5">
<%= render 'layouts/header' %>
  <div class="row justify-content-center">
    <div class="col-8">
      <%= render 'a_post', post: @post, tags: @tags, comment: @post_comment, comments: @post_comments %>
    </div>
    <div class="col-2 offset-1">
      <%= render "layouts/sideber" %>
    </div>
  </div>
</div>