.swiper {
  width: 50%;
  height: 50%;
}

:root {
  --swiper-navigation-color: #5f9ea0;
  --swiper-pagination-color: #5f9ea0;
}

@media screen and (max-width: 992px) {
  .swiper {
    width: 50%;
    height: 50%;
  }
}

body {
  background-color: #343a40;
}

.pagination {
  justify-content: center;
}

footer {
  position: sticky;
}